<!-- full_question_set = [{list_id:, list_name: , questions: [{question_id: question: answer:}, ]}, {list_id:, list_name: , questions: []}] -->

{% extends "_base.html" %}
{% block content %}

<form action = "{{ url_for('new_list') }}" method="post">
    <label>List Name:</label>
    <input name="list_name" type="text">
</form>

<form action = "{{ url_for('new_question') }}" method="post">
    <label>List Name:<label>
    <select name="list_id" width="100px">
        {% for list_object in full_question_set %}
            <option value="{{ list_object['list_id'] }}">{{ list_object['list_name'] }}</option>
        {% endfor %}
    </select>
    <label>Question:</label>
    <input name="question" type="text">
    <label>Answer:</label>
    <input name="answer" type="text">
    <input class="button" type="submit" value="Save">
    
{% for list_object in full_question_set %}
    <h2> {{ list_object["list_name"] }} </h2>
    <ul>
    {% for q in list_object["questions"] %}
        <li> {{ q["question"] }}: {{ q["answer"] }} </li>
    {% endfor %}
    </ul>
{% endfor %}


{% endblock %}