{% extends "_base.html" %}
{% block content %}

<form action = "{{ url_for('new_list') }}" method="post">
    <label>List Name:</label>
    <input name="list_name" type="text">
</form>

<form action = "{{ url_for('new_question') }}" method="post">
    <label>List Name:<label>
    <select name="list_name" width="100px">
        {% for list_name in full_question_set %}
            <option value="{{ list_name }}">{{ list_name }}</option>
        {% endfor %}
    </select>
    <label>Question:</label>
    <input name="question" type="text">
    <label>Answer:</label>
    <input name="answer" type="text">
    <input class="button" type="submit" value="Save">
    
{% for list_name in full_question_set %}
    <h2> {{list_name }} </h2>
    <ul>
    {% for q in full_question_set[list_name] %}
        <li> {{ q["question"] }}: {{ q["answer"] }} </li>
    {% endfor %}
    </ul>
{% endfor %}


{% endblock %}